* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: #f6e1e1;
  display: flex;
  height: 1400px;
}

/* Header*/
header {
  margin: 30px;
  width: 20%;
  min-width: 210px;
}

.logo {
  text-decoration: none;
  font-family: "Comfortaa", cursive;
  color: #eb4d55;
  font-size: 80px;
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.button {
  height: 45px;
  width: 200px;
  border: 2px solid #eb4d55;
  border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
  margin: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 10px;
  text-decoration: none;
  text-transform: uppercase;
  color: #eb4d55;
  font-size: 18px;
  letter-spacing: 3px;
  cursor: pointer;
}

.current {
  background-color: #eb4d55;
  color: #f6e1e1;
}

/*Main*/

main {
  background-color: white;
  width: 75%;
  height: 100%;
  overflow: auto;
  text-align: center;
  border-right: 2px solid #eb4d55;
  border-left: 2px solid #eb4d55;
  color: #333366;
  padding-top: 50px;
  font-size: 12px;
  letter-spacing: 1.5px;
  line-height: 20px;
}

p {
  padding: 10px;
  font-size: 13px;
}

.text {
  color: #333366;
}

img {
  padding: 2px;
  border: 3px solid #f6e1e1;
}

.project {
  padding: 30px;
}

.photoProject {
  width: 90%;
}

#photoMe {
  width: 35%;
  margin-bottom: 20px;
  min-width: 180px;
}

/*right border*/

footer {
  width: 5%;
}

/* MEDIA QUERIES */

/* tablets */

@media screen and (max-width: 800px) {
  #photoMe {
    width: 45%;
    margin-bottom: 20px;
    min-width: 180px;
  }
}
